<head>
    <title>Uploadify Demo</title>
    <link href="~/Uploadify/uploadify.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Uploadify/jquery-1.8.2.min.js"></script>  
    <script type="text/javascript" src="~/Uploadify/jquery.uploadify.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#uploadify").uploadify({
                uploader: '/Other/UploadifyDome',//处理上传的方法  
                swf: 'Uploadify/uploadify.swf',
                width: 60,
                height: 23,
                buttonText: "上传",
                buttonCursor: 'hand',
                fileobjName: 'Filedata',
                fileTypeExts: '*.xlsx;*.docx',//扩展名  
                fileTypeDesc: "请选择xslx,docx文件",//文件说明  
                auto: false,//是否自动上传  
                multi: true,//是否一次可以选中多个文件  
                queueSizeLimit: 5//允许同时上传文件的个数  
            });
        });
    </script>
</head>
<body>
    <span id="uploadify"></span>
    <div>
        <a href="javascript:$('#uploadify').uploadify('upload','*');">上传</a>
        <a href="javascript:$('#uploadify').uploadify('cancel', '*');">取消</a>
    </div>
</body> 